/* this css file will only style the homepage of our site */

.my-portrait {
  max-width: 200px;
  display:block;
  margin: 0 auto;
  object-position: center;
 
}

.cat-gif {
  max-width: 200px;
  display:block;
  margin: 0 auto;

}
 